out
dist
.DS_Store
node_modules
*.tsbuildinfo
*.eslintcache
*.vsix
.vscode-test-web
vscode/meta.json
vscode/stats.html
vscode/src/generated-meta.ts

packages/*/*.d.ts
packages/*/*.js
packages/*/*.map
packages/*/lib/**/*.d.ts
packages/*/lib/**/*.js
packages/*/lib/**/*.map
